---
import Hero from '@/components/vue/hero.vue'
import Navbar from '@/components/vue/navbar.vue'
import Services from '@/components/vue/services.vue'
import Layout from '../layouts/StarterLayout.astro'
---

<Layout title="Welcome to Astro.">
  <div class="page">
  <Navbar client:load />
  <Hero client:load />
  <Services />
  </div>
</Layout>
